.wrap{
        background-color: black;
}
.mainWrapper{
        padding: 20px 20px;
        background-color: black;
        display: flex;
        flex-direction: column;
        max-width: 1392px;
        align-items: center;
        flex-wrap: wrap;
        margin: auto;
}
/* Top Footer CSS */

.topWrapper{
       width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        color: white;
}
.topLeft{
        justify-content: center;
        width: 100%;
        border-bottom: #E5E5E5 1px solid;
        padding-bottom: 20px;
}
.topLeft_textArea h3 , .topLeft_textArea p{
        margin-bottom: 15px;
}
.topLeft .newsLetterArea{
        display: flex;
        column-gap: 5px;
}
.topLeft .newsLetterArea .inputWrapper{
        width: 70%
}
.topLeft .inputBox{
        width: 100%;
        padding: 10px;
        border: 0px;
        border-radius:3px;
}
.topLeft .newsLetterArea .buttonWrapper{
        width: 30%
}
.topLeft .newsLetterArea .buttonArea{
        width: 100%;
        padding: 10px;
        border: #888792 1px solid;
        color: #888792;
        background-color: black;
        font-weight: 600;
        text-transform: uppercase;
        border-radius:3px;
}
.contactHeading_Desktop{
        display: none;
}
.contactUsList {
        display: flex;   
}
.contactUsList .list{
        margin-left: 4px;
        font-size: 8px;
}
.currencyList{
        display: flex;   
}
.list{
        list-style-type: none;
       
}
.currencyList .list{ 
        margin: auto 0 auto 4px;
}
.text{
        display: none;
}
.topRight{
        width: 100%;
}
.contactArea{
        padding: 20px 0; 
        border-bottom: #888792 1px solid;
 }
 .currencyDetails{
         padding: 20px 0; 
 }

@media screen and (min-width:768px){
        .topWrapper{
                flex-direction: row;
                justify-content: space-between;
        }
        .topLeft{
                width: 40%;
        }
        .topLeft{
                border-bottom:0px;
                padding-bottom: 0px;
        }
        .topRight{
                width: 40%;
        }
        .contactUsList .starIcon{
                display: none;
        }
        .contactArea{
                border-bottom: 0px;
                padding-top: 0px;
        }
        .contactUsList{
                flex-direction: column;
        }
        .contactUsList .list{
                font-size: 16px;

        }
        .text{
                font-size: 10px;
                display: block;
        }
}

/*Bottom Footer CSS  */
.bottomWrapper{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        color: white;
}
/* bottomLeft */
.bottomLeft{
        display: flex;
        flex-direction: column;
}
.mettaMuseMobile .metatList{
        display: flex;
}
.mettaMuseMobile .MettList .list{
        color: white!important;
}
.mettaMuseDesktop, .quickLinksDesktop,.followUsDesktop{
        display: none;
}
.quickLinksList , .MettList{
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
        border-top: 1px solid #E5E5E5;
}
/* Bottom Right */
.bottomRight{
        display: flex;
        flex-direction: column;
}
.followUsList{
        display: flex;
        justify-content:space-between;
        padding: 20px 0px;
        border-top: 1px solid #E5E5E5;
}
.paymentOptions{
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
        border-top: 1px solid #E5E5E5;
}
.paymentOptionsIcons{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
}
.rightsBlock{
        margin: 0;
        color: white;
}
@media screen and (min-width:768px){
        /* Bottom left */
        .bottomWrapper{
                border-top: 1px solid #E5E5E5;
                flex-direction: row; 
                width: 100%; 
                justify-content: space-between;
        }
        .bottomWrapper .bottomLeft{
                width: 50%;
                display: flex;
                flex-direction: row;
        }
        .bottomWrapper .bottomRight{
                width: 40%;
        }
        .mettaMuseMobile , .quickLinksMobile ,.followUsMobile{
                display: none;
        }
        .mettaMuseDesktop{
                width: 50%;
        }
        .quickLinksDesktop{
                width: 50%;
        }
        .quickLinksDesktop a{
                text-decoration: none;
        }
        .mettaMuseDesktop, .quickLinksDesktop,.followUsDesktop{
                display: block;
        }
        .MettList , .followUsList ,.quickLinksList{
                flex-direction: column;
                font-weight: 200;
        }
        .MettList a, .followUsList a,.quickLinksList a{
                text-decoration: none;
                color: #E5E5E5;
                font-weight: 200;
        }
        .listHead a{
                font-weight: 600;
        }
        .paymentOptions{
                border-top: 0px; 
              
        }
        .socialIcons{
                margin-top: 6px;
        }
        .socialIcons a{
                margin-right: 6px;
        }
}
@media only screen and (min-width: 992px) {
        .paymentOptions{
                width:70%;
        }
}