/* Section with Shop page Heading */
.headSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align:center;
        padding-top :15px;
        padding-bottom:15px;
}
.headSection h1{
        width: 100%;
        margin-bottom: 20px;
}
.headSection p{
        width: 100%;
}
/* Section with Filters */
.filterSection{
        display: none;
       
}
/* Section with products */
.productContentWrapper{
        padding: 5px;
}
.mainSection{
        display: flex;
}
.productSection {
        width: 100%; 
        padding-top: 20px;
}
.productSection .productlist{
  display: flex;
  row-gap: 20px;
  align-items: center; /* Align child vertically */
  justify-content: center; /* Align child horizontally */
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
  justify-content: space-between; /* Distribute items evenly along the main axis */
}
.productCard {
        width: calc(50% - 10px); 
        border: 1px solid #F1F1F1;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
        border-radius:8px       
}
.productTitleArea{
        display: flex;
        background-color: #F1F1F1;
}
.productDetails{
        display: flex;
        background-color: #F1F1F1;
}
.productDescription{
        margin-left:5px;
        width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
                line-clamp: 2; 
        -webkit-box-orient: vertical;
}

.productPrice{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
}
.productTitle {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-left: 5px;
        width: 80%;
      }
.productImage{
        Width:150px;
        Height:277px;
        margin: auto;
}      

.productCard img {
        width: 100%; /* Ensure the image doesn't exceed the width of its container */
        height: 100%; /* Ensure the image doesn't exceed the height of its container */
        object-fit: contain; /* Fit the image inside the container without distortion */
}
.heart{
        margin: auto;
        width: 20px!important;
        height: 20px!important;
}
.filter{
        display: none;
}
@media screen and (min-width:456px){
        /* .productImage{
                width: 200px;
                height: 290px;
        } */
}
@media screen and (min-width:768px){
        .headSection{
                padding-top :40px;
                padding-bottom: 40px;
        }
        .headSection h1{
                width: 50%;
        }
        .headSection p{
                width: 50%;
                line-height: 25px;
        }
        .filter{
                display: block;
        }
        .filterSection {
                display: block;
                width: 25%; /* 1/4th of the container width */
                padding-top: 20px;
        }
        .productSection {
                width: 75%; /* 3/4th of the container width */
        }
        .productSection .productlist .productCard{
                width: calc(33% - 10px); 
        }
        
        .fullWidth {
        width: 100%; /* Full width when filter is hidden */
        }
        .fullWidth .productlist .productCard{
                width: calc(25% - 10px); 
        }
}

